* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #F9FAFF;
  color: #333;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  padding: 0 10rem;
  background-color: #F9FAFF;
  overflow: hidden;
}

footer {
  padding: 0 5rem;
  background-color: #F9FAFF;
}

.reachs {
  background-color: #264294;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 3rem 5rem;
  width: 100%;
}

.reachs a {
  color: #fff;
}

.reach i {
  margin-right: 1rem;
  font-size: 1.8rem;
}

.reach {
  display: flex;
  align-items: center;
}



/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 2rem 5rem;
  background-color: #fff;
  border: 0.750167px solid #E6E9EF;
  border-radius: 16.5037px;
  width: 80%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

nav img {
  margin-right: 20rem;
  width: 10rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #64748B;
}

nav ul li:not(:last-child) {
  margin-right: 4rem;
}

/*..................TEAM......................*/
.team {
  font-size: 2.8rem;
  text-align: center;
  padding-top: 6rem;
}

.team-p {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.team-box {
  background-color: #F8F9FF;
  box-shadow: 0px 5.93046px 4.74437px rgba(0, 0, 0, 0.0282725), 0px 2.4678px 1.97424px rgba(0, 0, 0, 0.0196802);
  border-radius: 8.91785px;
  padding: 4rem 2rem;
  width: 30%;
}

.team-box img {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.team-box h4 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  margin-top: .6rem;
  color: #333;
}

.team-job {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: .5rem;
  color: #333;
}

.team-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-contact:not(:last-child) {
  margin-bottom: 1.5rem;
}

.team-contact h5 {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #797272;
  font-weight: 300;
  width: 50%;
}

.team-contact a,
.team-contact p {
  font-size: 1.2rem;
  color: #333;
  font-weight: 400;
  word-break: break-all;
  /* text-align: right; */
  width: 45%;
}

.team-link {
  text-decoration: none;
}

/*..................FOOTER......................*/
footer {
  padding-top: 13rem;
  color: #494949;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.details {
  width: 30%;
}

.details img,
footer h2 {
  margin-bottom: 2.3rem;
}

.footer-head {
  font-size: 1.4rem;
  width: 18%;
}

.social {
  margin-top: 3rem;
}

.details-parag {
  font-size: 1.6rem;
  line-height: 3rem;
}

footer h2 {
  font-size: 1.8rem;
}

.footer-list li {
  list-style: none;
  margin-bottom: 2rem;
}

.footer-list a {
  text-decoration: none;
  color: #494949;
  font-size: 1.6rem;
}

.copyright {
  margin-top: 13.5rem;
}

.copyright p {
  font-size: 1.3rem;
  border-top: 2px solid #494949;
  padding-top: 2rem;
}

/* NAVIGATION BAR */

#menu {
  font-size: 3rem;
  color: #264294;
  display: none;
  transition: all .2s;

}

#menu.active:before {
  content: '\f00d';
  color: #264294;
}

.barLink {
  position: relative;
}