/* 1170px */
@media only screen and (max-width: 73.125em) {
  .video-box {
    flex-direction: column;
    text-align: center;
  }

  .text-video {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
  }

  .customer-video {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}